/* Creation du style de la page */
:root {
  --main-color: #020211;
  --secondary-color: #df22a9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondary-color), var(--main-color);
}


.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--secondary-color);
  color: #ffffff;
}

.cardCountries {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.countries {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 3px;
  background-color: rgb(247, 244, 240);
  color: #3f3636;
}


/*Format mobile*/
@media screen and (max-device-width: 480px) {
  .mainPage {
    margin: 0.2rem;
    display: flex;
    flex-direction: rows;
    min-height: 500px;
    background-color: #ffffff;
  }
}